<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title><?=BunnyPHP\Language::get('welcome')?></title>
    <style>
        body {
            width: 35em;
            margin: 0 auto;
            text-align: center;
        }
    </style>
</head>
<body>
<a href="https://github.com/IvanLuLyf/BunnyPHP">
    <img src="/static/img/logo.png" width="400px" style="margin-top: 150px">
</a>
<h1><?=BunnyPHP\Language::get('greeting')?><a href="https://github.com/IvanLuLyf/BunnyPHP">BunnyPHP</a>!</h1>
<p><?=BunnyPHP\Language::get('intro')?></p>
<p><em><?=BunnyPHP\Language::get('thank')?></em></p>
</body>
</html>